.image{
    width: 100%;
    height: 100vh;
}

.image::before {
    content: "Just Gold";
    margin: 7px;
    border: solid 2px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1200px;
    height: 800px;
    background-image: linear-gradient(90deg, rgba(153, 0, 255,0.3), rgba(102, 0, 102,0.3));
}

.image img{
    display: block;
    object-fit: fill;
    max-width: 1202px;
    height: 802px;
}